.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  margin-bottom: 2em;
  background-color: var(--main-bg-color);
  color: var(--white-color);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logo h1 {
  margin-left: .5em;
  color: var(--white-color);
}

.menu_items {
  display: flex;
  list-style: none;

}

.menu_items li {
  margin-right: 3em;
}

.menu_items a {
  color: var(--white-color);
  text-decoration: none;
  padding: 5px;
  transition: .4s;
  border-bottom: 2px solid transparent;
}

.menu_items a:hover {
  border-color: var(--white-color);
}
